body{
    padding: 0;
    margin: 0;
}

.Banner{
    background-image: url('images/hom6.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 150px 0;
    margin:0 ;
}

.buton{
    background-color: brown;
    color: white;
    text-decoration: none;
    padding: 20px 50px;
    font-weight: bolder;
    border-radius: 21px;
    font-size :25px
}
.buton:hover
{background-color: black;

}
.tools p{
    padding-bottom: 50;
}
.btn{
    background-color: brown;
    color: white;
    text-decoration: none;
    padding: 20px 50px;
    font-weight: bolder;
    border-radius: 21px;
    font-size :25px

}
.btn-blue:hover{
background-color: whitesmoke;
}

#Banner-P{
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 50px;
    color:whitesmoke;
}

h1{
color: white;
font-size: 40px;
}
h2{
    text-align: center;
}
h3{
    font-size: 50;
}

.grid-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.tools {
    padding: 50px;
}

.img-cover img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.infos {
    background-image:url('images/hom8.jpg') ;
    padding: 50px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
.newsletter {
  background-color: #eee;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
}

.newsletter input[type="email"] {
  padding: 10px;
  border: none;
  margin: 10px 0;
  width: 100%;
  max-width: 300px;
  font-size: 16px;
  border-radius: 4px;
}

.newsletter input[type="submit"] {
  background-color:brown;
  color: #ffffff;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  margin: 10px;
  padding: 10px;
}
#newsletter-text{
  margin: 10px;
  padding: 10px;
  color: #474747;
  font-size: large;
}
.newsletter-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

  
#discover {
    background-color: brown;
    font-size: 35px;
    color: whitesmoke ;
    padding: 50
}